
/* @font-face {
    font-family: 'Satisfy-Regular', sans-serif;
    src: url('../font/Satisfy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   */






.raleway-et {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-t {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-l {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-r {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-m {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-mb {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-b {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-eb {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .raleway-bb {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
  }
    

  body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}













.text_amarillo {
  color: #FFD200;
}


.text_azul {
  color: #005DB9;
}


.text_verde {
  color: #05A451;
}


.text_rojo {
  color: #C22A22;
}


.text_magenta {
  color: #BF0685;
}


.text_azul_claro {
  color: #41ADCE;
}


.text_naranja {
  color: #FF7D01;
}






/* del boton back to top whatsupp */

.back_whatsupp {
  background-color: #25D366;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  position: fixed;
  right: 35px;
  bottom: 25px;
  z-index: 5;
  
}

.back_whatsupp:hover {
background-color: white;
color: #25D366;
}



/* cierre del boton whatsupp */


/* cara lego */

.leguito_man {

  position: fixed;
  left:  0px;
  bottom: 0px;
  z-index: 15;
  
}



/* cierre cara lego */



















.navbar {    
  background-color: #F0f0f1;
  font-size: 18px;
  width: 100%;
 
  box-sizing: border-box ;  
    }

    .nav-link {
      font-size: 16px;
    }




/* del home */

.homerr {
  width: 100%;
  height: 100vh;  /* viewport's height */          
  
  z-index: 99;
  background-size: cover;     /* para que la imagen se ajuste a la pantalla */
  background-position: center; /* centra y ajusta */
  box-sizing: border-box ;  

}


.homerr_f {
  width: 100%;
         
  
  z-index: 99;
  background-size: cover;     /* para que la imagen se ajuste a la pantalla */
  background-position: center; /* centra y ajusta */
  box-sizing: border-box ;  

}


.cover-container {
  max-width: 70em;       /* crea una separación de izq a dere mejora el centrado */
 
}




.button-p {


  background-color: #BF0685;
  color: white;
  cursor: pointer;
  font-weight: 700; 
  text-align: center;
  text-decoration: none;  
  transition: all 0.1s ease;
}

.button-p:active {
  transform: translate(0px, 4px);
  border-bottom: 4px solid transparent;
}





.btn-sociale {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #BF0685;
  border: 1px solid #BF0685;
  border-radius: 5px;
  }


  .btn-sociale:hover {    
      color: white;
      background-color: #41ADCE;
      border: 1px solid #41ADCE;
      }


      .btn-sociale_ff {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #BF0685;
        border: 1px solid #BF0685;
        border-radius: 5px;
        }
      
        .color_icooo {
          color: white;
        }
        .color_icooo:hover {
          color: white;
        }
      
        .btn-sociale_ff:hover {    
          background-color: #41ADCE;
          border: 1px solid #41ADCE;

            }


      .nav-link:hover { color: #41ADCE; }




      .cuadrito_blue {
        background-color: #005DB9;        
        color: white;          
        text-align: center;      
        text-decoration: none;   
        }

        .cuadrito_big_blue {
          background-color: #005DB9;        
          color: white;          
          text-align: center;      
          text-decoration: none;   
          }
  

      



      .button_blue {
        background-color: #005DB9;        
        color: white;          
        text-align: center;      
        text-decoration: none; 
       
        
      }


      .button_amarr {
        background-color: #BF0685;        
        color: #FFD200;          
        text-align: center;      
        text-decoration: none; 
        cursor: pointer;   
      transition: all 0.5s ease;           
      }


      .button_amarr:hover
       {
        background-color: #005DB9;
        color: white;
        text-align: center;
        text-decoration: none;
        
      }



      .button-m {
 
        background-color: #FFD200;
        
        color: #005DB9;
        cursor: pointer;
      
        text-align: center;
        
        text-decoration: none;
      
        transition: all 0.5s ease;

        border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 280px;   height: 44px;


      }
      
      .button-m:hover {
        background-color: #FFA400;
        color: white;
        
      }




      .verdesito {
        background-color: #05A451;        
        color: white;          
        text-align: center;      
        text-decoration: none;           
        
      }

      










  






      .button-verde {
 
        background-color: #BF0685;
        
        color: white;
        cursor: pointer;
      
        text-align: center;
        
        text-decoration: none;
      
        transition: all 0.5s ease;

        border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 280px;   height: 44px;


      }
      
      .button-verde:hover {
        background-color: #FFA400;
        color: white;
        
      }




      .button-amari {
 
        background-color: #FFD200;
        
        color: #005DB9;
        cursor: pointer;
      
        text-align: center;
        
        text-decoration: none;
      
        transition: all 0.5s ease;

      


      }
      
      .button-amari:hover {
        background-color: #05A451;
        color: white;
        
      }


      .text_f {
  
        font-size: 24px;
        font-weight: 600;
        
        
        }
        
        
        .text_f:hover {
        
        color: #41ADCE;
          
          
          }


.titulo_header{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img{
    position: absolute;
    top: 80px;
    left: 130px;
    width: 130px;
    height: auto;
  }
}

.texto_header{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h2{
    margin: 0;
    font-size: 36px;
  }
  h3{
    font-size: 36px;
    margin: 0;
  }
  h4{
    font-size: 36px;
    margin: 0;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
  }
  
}













          



/* Small devices (mayoria de celulares) */
@media (min-width: 310px) and (max-width: 401px)  { 

  .cuadro_dual {
    background-color: #05A451;
  }    

  .img_direccion{
    width: 100% !important;
    display: flex;
    justify-content: center;
    img{
      width: 27% !important;
    }
  }

  .texto_direccion{
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px !important;
    h2{
      width: 100%;
    }
  }

  

  .titulo_header{
    width: 100%;
    align-items: start;

    img{
      top: 40px;
      left: 41%;
      width: 80px;
    }
  }
  .texto_header{
    width: 100%;
    height: fit-content;
    margin-top: 190px;

    h2{
      font-size: 25px;
    }
    h3{
      font-size: 25px;
    }
    h4{
      font-size: 25px;
    }

    ul{
      font-size: 18px;
    }
  }




  .bajar_unpoco{
    margin-top: 80px !important;
  }

  .diver_text{
    font-size: 22px;
  }

  .homerr {  background-image: url("../img_plan/Plan_Vacacional_small.webp");   margin-top: -30px; }
   nav.navbar {display: none; }

   .big_logo {width: 131.712px; height: 224.7168px;}


   .bajemosle {margin-top: 60px;}

   .button_blue {       
      width: 240px;
      height: 46px;
      font-size: 26px;      
      padding-top: 7px;
      border-radius: 14px;                    
    }

  
.button-p {

  width: 308px;
  height: 40px;
  font-size: 21px;   
  border-bottom: 4px solid #7e0458;  
  border-radius: 14px;  
}

.button-p:hover {
  font-size: 30px; 
}


.first_inscrib_a{  

  align-items: center;
  justify-content: center;

}



 .first_inscrib_b{

  align-items: center;
  justify-content: center;

}



.first_inscrib_c{

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;

}




#robotin {
  display: none;
}


.back_magenta {
  background-color: #BF0685;
}

.p_horarios {
  align-items: center; 
  justify-content: center;
  margin-left: 9px;
  margin-top: -40px;
}

.text_horario {
  text-align: center;
  margin-bottom: 15px;
}


.bajamen {margin-left: 8px;}
.t_help_a {font-size: 24px; }

.text_hora {font-size: 20px;}

.listado {font-size: 18px; }
.listado_b {font-size: 15px; }
.diass {  font-size: 1.8rem;  }
.mess {   font-size: 0.8rem;}

.cuadrito_blue {       
width: 230px;
height: 36px;
margin-bottom: 7px;   margin-top: 4px;              
}

.ubicatext {top:-5px;}

.cuadrito_big_blue {       
width: 320px;
height: 34px;
margin-bottom: 7px;  
margin-left: 7px;  
              
}

.verdesito {
width: 340px;
height: 36px;
padding-top: 6px;
border-radius: 5px;


}

/* seccion  amarilla con blanco */


.back_amarillo {
background: linear-gradient(to bottom, #BF0685 50%, #FFD200 50% );
}
#parejox {content: url('../img_plan/pareja_resp.webp'); }  

.first_t {font-size: 32px;  }
.separann {margin-bottom: -8px;}

.ubi_duo {margin-top: -1px; margin-left: 9px;}

.second_text {font-size: 26px; margin-left: 12px;  }

.div_moto {margin-top: 18px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 8px;  font-size: 18px;  padding-top: 1px;   width: 140px;   height: 30px; }


.posi_bott_ama {top: 110px; right:-1px;}

.duo_textos{justify-content:center; align-items: center; text-align: center; margin-left: 1px;}


/* zon bloque verde */

.men_supp {align-items: center;
justify-content: center;}

.men_bajj {align-items: center;
justify-content: center; }




/* galeria  */



.text_diver {font-size: 28px;} 

.text_aprov {font-size: 20px; margin-left: 20px; margin-top: 5px;}


#septima {   display: none; }
#novena {   display: none; }
.octava {margin-top:-100px;}





/*  seccion contacto */



/* .cuadro_dual {
background-image: url("../img_plan/back_dual.webp"); 

height: 476px; 
width: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}  */

.address {align-items: center; margin-top: 1px; justify-content: center; text-align: center;}


.button_amarr {       
width: 220px;
height: 58px;
font-size: 44px;      
margin-top: 15px;
border-radius: 10px;                    
}

.ccs_font {font-size: 35px;}
.other_font {font-size: 22px;}

.direc_move {margin-top: 10px; margin-bottom: 20px;}
.direc_move_b {margin-top: 30px;}


#flechincin {display: none;}
.ins_texttt {font-size: 58px; margin-top: 30px;}

.qr_toppp {margin-top: 50px;}

.qr_img_s {width: 240px; height: 240px;}


#mr_lego {display: none;}

.dos_sem {font-size: 40px;}


   
}


/* Small devices (mayoria de celulares) */
@media (min-width: 402px) and (max-width: 540px)  { 

  .cuadro_dual {
    background-color: #05A451;
  }    

  .img_direccion{
    width: 100% !important;
    display: flex;
    justify-content: center;
    img{
      width: 27% !important;
    }
  }

  .texto_direccion{
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px !important;
    h2{
      width: 100%;
    }
  }

  .titulo_header{
    width: 100%;
    align-items: start;

    img{
      top: 80px;
      left: 41%;
      width: 110px;
    }
  }
  .texto_header{
    width: 100%;
    height: fit-content;
    margin-top: 290px;

    h3{
      font-size: 25px;
    }

    ul{
      font-size: 22px;
    }
  }

  .homerr {  background-image: url("../img_plan/Plan_Vacacional_small_b.webp");   margin-top: -30px; }
   nav.navbar {display: none; }

   .bajemosle {margin-top: 40px;}


   .button_blue {       
      width: 260px;
      height: 56px;
     font-size: 40px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }


  
.button-p {

  width: 360px;
  height: 54px;
  font-size: 32px;   
  border-bottom: 4px solid #7e0458;  
  border-radius: 14px;  
}

.button-p:hover {
  font-size: 34px; 
}

  

.first_inscrib_a{

  align-items: center;
  justify-content: center;

}



 .first_inscrib_b{

  align-items: center;
  justify-content: center;

}

#robotin {
  display: none;
}






.text_horario {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 15px;
}






.first_inscrib_c{

  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 29px;

}





.bajamen {margin-top: 30px; margin-left: 8px;}
  
.back_magenta {
  background-color: #BF0685;
}


.text_horario {
  text-align: center;
  
}

.p_horarios {
  align-items: center; 
  justify-content: center;
  margin-left: 6px;
  margin-top: 25px;
}

.text_hora {font-size: 24px;}

.listado {font-size: 19px;}
.listado_b {font-size: 17px;}
.diass {  font-size: 2.2rem; }
.mess {   font-size: 0.8rem;}

.cuadrito_blue {       
width: 230px;
height: 40px;
margin-bottom: 7px;                 
}

.ubicatext {top:-9px;}


.cuadrito_big_blue {       
width: 370px;
height: 44px;
margin-bottom: 7px;  
margin-left: 7px;                  
}

.verdesito {
width: 330px;
height: 36px;
padding-top: 6px;
border-radius: 5px;

}




/* seccion  amarilla con blanco */


.back_amarillo {
background: linear-gradient(to bottom, #BF0685 45%, #FFD200 45% );
}


.first_t {font-size: 38px;  }

.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: -40px; margin-left: 8px;}

.second_text {font-size: 30px;  margin-left: 14px; }

.div_moto {margin-top: 18px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 20px;  padding-top: 1px;   width: 160px;   height: 34px; }


.posi_bott_ama {top:130px; right:4px;}


.duo_textos{justify-content:center; align-items: center; text-align: center; margin-left: 1px;}
#parejox {content: url('../img_plan/pareja_resp.webp'); }  


/* zon bloque verde */

.men_supp {align-items: center;
justify-content: center;}

.men_bajj {align-items: center;
justify-content: center; }



/* galeria  */



.text_diver {font-size: 32px;} 

.text_aprov {font-size: 24px; margin-left: 20px; margin-top: 5px;}



#septima {   display: none; }
#novena {   display: none; }
.octava {margin-top:-100px;}






/* .cuadro_dual {
background-image: url("../img_plan/back_dual.webp"); 

height: 476px; 
width: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}  */

.address {align-items: center; margin-top: 1px; justify-content: center; text-align: center;}


.button_amarr {       
width: 220px;
height: 58px;
font-size: 44px;      
margin-top: 15px;
border-radius: 10px;                    
}

.ccs_font {font-size: 42px;}  
.other_font {font-size: 26px;}  

.direc_move {margin-top: 40px; margin-bottom: 20px;}
.direc_move_b {margin-top: 30px;}


#flechincin {display: none;}
.ins_texttt {font-size: 58px; margin-top: 30px;}

.qr_toppp {margin-top: 50px;}

.qr_img_s {width: 300px; height: 300px;}

#mr_lego {display: none;}


.dos_sem {font-size: 40px;}

}








/* Medium devices (tablets)  */
@media (min-width: 541px) and (max-width: 641px)  {

  .cuadro_dual {
    background-color: #05A451;
  }    

  .img_direccion{
    width: 100% !important;
    display: flex;
    justify-content: center;
    img{
      width: 27% !important;
    }
  }

  .texto_direccion{
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px !important;
    h2{
      width: 100%;
    }
  }



  .titulo_header{
    width: 100%;

    img{
      top: 40px;
      left: 41%;
      width: 100px;
    }
  }
  .texto_header{
    width: 100%;
    ul{
      font-size: 20px;
    }
  }



  .homerr {  background-image: url("../img_plan/Plan_Vacacional_tablet.webp"); margin-top: -30px; }
  nav.navbar {display: none; }
  


/* hero */
.vaca_text {font-size: 42px;  }
.big_logo {width: 94.08px; height: 160.512px;}
.plan_text {font-size: 30px;  }
.fecha_texttt {font-size: 46px;  }
.hero_text{margin-top: -20px;}



  .bajemosle {margin-top: 60px;}

  .button_blue {       
      width: 360px;
      height: 66px;
     font-size: 38px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 368px;
  height: 48px;
  font-size: 30px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 32px; 
}



.bajamen {margin-top: 30px;}


  
.back_magenta {
 background-color: #BF0685;
}


.p_horarios {
align-items: center; 
justify-content: center;
}

.text_horario {
text-align: center;
}



.first_inscrib_a{  

align-items: center;
justify-content: center;

}



.first_inscrib_b{

align-items: center;
justify-content: center;

}



.first_inscrib_c{

align-items: center;
justify-content: center;
text-align: center;


}


#robotin {
display: none;
}






.verdesito {

width: 370px;
height: 36px;

padding-top: 6px;
border-radius: 5px;

}


.listado {font-size: 32px;}
.listado_b {font-size: 26px;}
.diass {  font-size: 2.2rem; }
.mess {   font-size: 0.8rem;}


.cuadrito_blue {       
width: 230px;
height: 40px;
margin-bottom: 7px;
                
}

.ubicatext {top:-10px;}




.ajuste_listado {margin-left: 0px; max-width: 100%;} 






.cuadrito_big_blue {       
width: 370px;
height: 44px;
margin-bottom: 7px;
                
}



/* seccion  amarilla con blanco */


.back_amarillo {
background: linear-gradient(to bottom, #BF0685 42%, #FFD200 42% );
}


#parejox {content: url('../img_plan/pareja_resp.webp'); }  



.first_t {font-size: 34px;  }
.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: -1px;}

.second_text {font-size: 40px;  }

.div_moto {margin-top: 18px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }


.posi_bott_ama {top:180px; right:10px;}


.duo_textos{justify-content:center; align-items: center; text-align: center; margin-top: -10px;}
.amanecer {margin-top: -40px;}




/* zon bloque verde */

.men_supp {align-items: center;
justify-content: center;}

.men_bajj {align-items: center;
justify-content: center; }



/* galeria  */



.text_diver {font-size: 40px;} 

.text_aprov {font-size: 36px; margin-left: 20px;}


#septima {   display: none; }
#novena {   display: none; }
.octava {margin-top:-45px; width:400px; height: auto;}






/* .cuadro_dual {
background-image: url("../img_plan/back_dual.webp"); 

height: 476px; 
width: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}  */

.address {align-items: center; margin-top: 1px; justify-content: center; text-align: center;}


.button_amarr {       
width: 320px;
height: 78px;
font-size: 88px;      
margin-top: 15px;
border-radius: 10px;                    
}

.ccs_font {font-size: 68px;}
.other_font {font-size: 38px;}

.direc_move {margin-top: 60px; margin-bottom: 90px;}
.direc_move_b {margin-top: 30px;}


#flechincin {display: none;}
.ins_texttt {font-size: 78px; margin-top: 50px;}

.qr_toppp {margin-top: 50px;}

.qr_img_s {width: 400px; height: auto;}


#mr_lego {display: none;}
.dos_sem {font-size: 60px;}
.first_t {font-size: 46px;  }

}







/* Medium devices (tablets)  */
@media (min-width: 641px) and (max-width: 773px)  {

  .cuadro_dual {
    background-color: #05A451;
  }    

  .img_direccion{
    width: 100% !important;
    display: flex;
    justify-content: center;
    img{
      width: 27% !important;
    }
  }

  .texto_direccion{
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px !important;
    h2{
      width: 100%;
    }
  }



  .titulo_header{
    width: 100%;

    img{
      top: 40px;
      left: 41%;
      width: 100px;
    }
  }

  .homerr {  background-image: url("../img_plan/Plan_Vacacional_tablet.webp"); margin-top: -30px; }
  nav.navbar {display: none; }
  


/* hero */
.vaca_text {font-size: 42px;  }
.big_logo {width: 94.08px; height: 160.512px;}
.plan_text {font-size: 30px;  }
.fecha_texttt {font-size: 46px;  }
.hero_text{margin-top: -20px;}



  .bajemosle {margin-top: 60px;}

  .button_blue {       
      width: 360px;
      height: 66px;
     font-size: 38px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 368px;
  height: 48px;
  font-size: 30px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 32px; 
}



.bajamen {margin-top: 30px;}


  
.back_magenta {
  background-color: #BF0685;
}


.p_horarios {
align-items: center; 
justify-content: center;
}

.text_horario {
text-align: center;
}



.first_inscrib_a{  

align-items: center;
justify-content: center;

}



.first_inscrib_b{

align-items: center;
justify-content: center;

}



.first_inscrib_c{

align-items: center;
justify-content: center;
text-align: center;


}


#robotin {
display: none;
}






.verdesito {

width: 370px;
height: 36px;

padding-top: 6px;
border-radius: 5px;

}


.listado {font-size: 32px;}
.listado_b {font-size: 26px;}
.diass {  font-size: 2.2rem; }
.mess {   font-size: 0.8rem;}


.cuadrito_blue {       
width: 230px;
height: 40px;
margin-bottom: 7px;
                
}

.ubicatext {top:-10px;}




.ajuste_listado {margin-left: 0px; max-width: 100%;} 






.cuadrito_big_blue {       
width: 370px;
height: 44px;
margin-bottom: 7px;
                
}



/* seccion  amarilla con blanco */


.back_amarillo {
background: linear-gradient(to bottom, #BF0685 42%, #FFD200 42% );
}


#parejox {content: url('../img_plan/pareja_resp.webp'); }  



.first_t {font-size: 34px;  }
.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: -1px;}

.second_text {font-size: 40px;  }

.div_moto {margin-top: 18px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }


.posi_bott_ama {top:180px; right:10px;}


.duo_textos{justify-content:center; align-items: center; text-align: center; margin-top: -10px;}
.amanecer {margin-top: -40px;}




/* zon bloque verde */

.men_supp {align-items: center;
justify-content: center;}

.men_bajj {align-items: center;
justify-content: center; }



/* galeria  */



.text_diver {font-size: 40px;} 

.text_aprov {font-size: 36px; margin-left: 20px;}


#septima {   display: none; }
#novena {   display: none; }
.octava {margin-top:-45px; width:400px; height: auto;}




 

/* .cuadro_dual {
background-image: url("../img_plan/back_dual.webp"); 

height: 476px; 
width: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}  */

.address {align-items: center; margin-top: 1px; justify-content: center; text-align: center;}


.button_amarr {       
width: 320px;
height: 78px;
font-size: 88px;      
margin-top: 15px;
border-radius: 10px;                    
}

.ccs_font {font-size: 68px;}
.other_font {font-size: 38px;}

.direc_move {margin-top: 60px; margin-bottom: 90px;}
.direc_move_b {margin-top: 30px;}


#flechincin {display: none;}
.ins_texttt {font-size: 78px; margin-top: 50px;}

.qr_toppp {margin-top: 50px;}

.qr_img_s {width: 400px; height: auto;}


#mr_lego {display: none;}
.dos_sem {font-size: 60px;}
.first_t {font-size: 46px;  }

}





















/* Medium devices (tablets)  */
@media (min-width: 773px) and (max-width: 991px)  {
  .cuadro_dual {
    background-color: #05A451;
  }    

  .img_direccion{
    width: 100% !important;
    display: flex;
    justify-content: center;
    img{
      width: 27% !important;
    }
  }

  .texto_direccion{
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px !important;
    h2{
      width: 100%;
    }
  }

  .titulo_header{
    width: 100%;

    img{
      top: 40px;
      left: 41%;
      width: 100px;
    }
  }

  .homerr {  background-image: url("../img_plan/Plan_Vacacional_tablet.webp"); margin-top: -30px; }
  nav.navbar {display: none; }
  


/* hero */
.vaca_text {font-size: 42px;  }
.big_logo {width: 94.08px; height: 160.512px;}
.plan_text {font-size: 30px;  }
.fecha_texttt {font-size: 46px;  }
.hero_text{margin-top: -20px;}



  .bajemosle {margin-top: 60px;}

  .button_blue {       
      width: 360px;
      height: 66px;
     font-size: 38px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 368px;
  height: 48px;
  font-size: 30px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 32px; 
}



.bajamen {margin-top: 30px;}


  
.back_magenta {
  background-color: #BF0685;
}


.p_horarios {
align-items: center; 
justify-content: center;
}

.text_horario {
text-align: center;
}



.first_inscrib_a{  

align-items: center;
justify-content: center;

}



.first_inscrib_b{

align-items: center;
justify-content: center;

}



.first_inscrib_c{

align-items: center;
justify-content: center;
text-align: center;


}


#robotin {
display: none;
}






.verdesito {

width: 370px;
height: 36px;

padding-top: 6px;
border-radius: 5px;

}


.listado {font-size: 32px;}
.listado_b {font-size: 26px;}
.diass {  font-size: 2.2rem; }
.mess {   font-size: 0.8rem;}


.cuadrito_blue {       
width: 230px;
height: 40px;
margin-bottom: 7px;
                
}

.ubicatext {top:-10px;}




.ajuste_listado {margin-left: 0px; max-width: 100%;} 






.cuadrito_big_blue {       
width: 370px;
height: 44px;
margin-bottom: 7px;
                
}



/* seccion  amarilla con blanco */


.back_amarillo {
background: linear-gradient(to bottom, #BF0685 42%, #FFD200 42% );
}


#parejox {content: url('../img_plan/pareja_resp.webp'); }  



.first_t {font-size: 38px;  }
.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: -1px;}

.second_text {font-size: 40px;  }

.div_moto {margin-top: 18px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }


.posi_bott_ama {top:180px; right:80px;}


.duo_textos{justify-content:center; align-items: center; text-align: center;}




/* zon bloque verde */

.men_supp {align-items: center;
justify-content: center;}

.men_bajj {align-items: center;
justify-content: center; }



/* galeria  */



.text_diver {font-size: 40px;} 

.text_aprov {font-size: 36px; margin-left: 20px;}



#septima {   display: none; }

.uno {margin-top:30px; }
.tres  {margin-top:10px; }
.cinco {margin-top:-40px; }


.octava {margin-top:-120px; width:360px; height: 360px;}

.novena {margin-top:-90px; margin-left:0px; width:360px; height: 360px;  }
/* #novena {} */





/*  seccion contacto */

 

/* .cuadro_dual {
background-image: url("../img_plan/back_dual.webp"); 

height: 476px; 
width: 100%;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}  */

.address {align-items: center; margin-top: 1px; justify-content: center; text-align: center;}


.button_amarr {       
width: 320px;
height: 78px;
font-size: 88px;      
margin-top: 15px;
border-radius: 10px;                    
}

.ccs_font {font-size: 68px;}
.other_font {font-size: 38px;}

.direc_move {margin-top: 60px; margin-bottom: 90px;}
.direc_move_b {margin-top: 30px;}


#flechincin {display: none;}
.ins_texttt {font-size: 78px; margin-top: 50px;}

.qr_toppp {margin-top: 50px;}

.qr_img_s {width: 400px; height: auto;}


#mr_lego {display: none;}
.dos_sem {font-size: 60px;}
.first_t {font-size: 46px;  }

}































/* Large tablets   */
@media (min-width: 991px) and (max-width: 1200px)  { 

  .titulo_header{
    width: 100%;
    height: 100%;
    align-items: center;
    

    img{
      top:170px;
      left: 100px;
    }
  }
  .texto_header{
    width: 100% !important;
    height: 100%;
    justify-content: start;
    padding-top: 100px;

  }


  .homerr {  background-image: url("../img_plan/Plan_Vacacional_lar_tablet.webp"); margin-top: -30px; }
  nav.navbar {display: none; }


/* hero */
.vaca_text {font-size: 42px;  }
.big_logo {width: 94.08px; height: 160.512px;}
.plan_text {font-size: 30px;  }
.fecha_texttt {font-size: 46px;  }
.hero_text{margin-top: -80px;}





  
  .bajemosle {margin-top: 80px;}

  .button_blue {       
      width: 360px;
      height: 66px;
     font-size: 38px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 380px;
  height: 46px;
  font-size: 28px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 32px; 
}


.first_inscrib_a{

align-items: center;
justify-content: center;

}



.first_inscrib_b{

align-items: center;
justify-content: center;

}





.cuadro_bi_a {


height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}


.t_help_a {font-size: 24px;}

.text_hora {font-size: 20px;}

.p_horarios {
align-items: center; 
justify-content: center;
}

.text_horario {
text-align: center;
}


.first_inscrib_a{

align-items: right;
justify-content: right;

}



.first_inscrib_b{

align-items: left;
justify-content: left;

}



.first_inscrib_c{

align-items: left;
justify-content: left;

}


.verdesito {

width: 370px;
height: 36px;

padding-top: 6px;
border-radius: 5px;

}


.listado {font-size: 24px;}
.listado_b {font-size: 20px;}


.cuadrito_blue {       
width: 230px;
height: 48px;
margin-bottom: 7px;
                
}

.ubicatext {top:-6px;}


.cuadrito_big_blue {       
width: 370px;
height: 48px;
margin-bottom: 7px;
                
}

.ul_margen {
margin-left:0px;
}



.ajuste_listado {margin-left: 70px; max-width: 42%;} 
.fix_interno_dere {margin-left: 100px; margin-top: 0px;}
.dos_sem {font-size: 3.8rem;}
.text_sem {font-size: 46px;}
.diver_text {font-size: 30px;}
.robotin_ubicatex {left: 240px; bottom: 30px;}
.big_logo_pexx {width: 198.24px; height: 201.88px;}
.duo_textos{justify-content:left; align-items: left; margin-left: 84px;}
.div_moto {margin-top: 18px; margin-left: 30px;}
.second_text {font-size: 46px; margin-left: 20px;  }
.el_verdeee { padding-left: 120px;}
.text_lun {font-size: 36px;}
.masa_masa{margin-top: 20px;}




.diass {  font-size: 2rem; }
.mess {   font-size: 0.8rem;}







/* seccion  amarilla con blanco */


.cuadro_bi_b {
background-image: url("../img_plan/back_cuadros_bajo.webp"); /* The image used */  

height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */

}


#parejox {content: url('../img_plan/pareja_resp.webp'); }  


.first_t {font-size: 38px;  }
.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: 10px;}




.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }


.posi_bott_ama {top:150px; right:-10px;}





/* zon bloque verde */

.men_supp {align-items: right;
justify-content: right;}

.men_bajj {align-items: left;
justify-content: left; }


/* galeria  */



.text_diver {font-size: 60px;} 

.text_aprov {font-size: 42px; margin-left: 20px;}



#septima {   display: none; }

.uno {margin-top:30px; }
.tres  {margin-top:10px; }
.cinco {margin-top:-40px; }


.octava {margin-top:-120px; width:420px; height: 420px;}

.novena {margin-top:-90px; margin-left:0px; width:440px; height: 440px;  }
/* #novena {} */


.ins_texttt {font-size: 38px; margin-top: 30px;}

/*  seccion contacto */

/* .bloque_dual {} */

.cuadro_dual {

background-color: #05A451;

width: 100%;

}

.address {align-items: left; margin-top: -14px; justify-content: left;}


.button_amarr {       
width: 160px;
height: 58px;
font-size: 42px;      
margin-top: 15px;
border-radius: 10px;                    
}



.direc_move {margin-top: 50px;}

.direc_move_espe {margin-left: 20px;}
.ccs_font {font-size: 32px;}
.other_font {font-size: 26px;}

.direc_move_b {margin-top: 50px; margin-left: 0px;}



.qr_toppp {margin-top: -40px;}

.qr_img_s {width: 400px; height: auto;}




}














/* extra Large tablets   */
@media (min-width: 1201px) and (max-width: 1442px)  {

  .titulo_header{
    img{
      left: 60px !important;
    }
  }


  
  .homerr {  background-image: url("../img_plan/Plan_Vacacional_PC.webp"); }
  

/* hero */
  .vaca_text {font-size: 42px;  }
  .big_logo {width: 117.6px; height: 200.64px;}
.plan_text {font-size: 40px;  }
.fecha_texttt {font-size: 66px;  }
.hero_text {margin-left: -140px; margin-top: -20px;}
.text_fanta {font-size: 24px;  }

.button-verde {margin-top: -5px;}

.ccs_font {font-size: 42px;}

  .bajemosle {margin-top: 10px;}

  .button_blue {       
      width: 260px;
      height: 56px;
     font-size: 30px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 360px;
  height: 52px;
  font-size: 28px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 32px; 
}



.first_inscrib_a{

align-items: right;
justify-content: right;

}



.first_inscrib_b{

align-items: left;
justify-content: left;

}



.first_inscrib_c{

align-items: left;
justify-content: left;

}







.listado {font-size: 24px;}
.listado_b {font-size: 22px;}




.cuadrito_blue {       
width: 230px;
height: 50px;
margin-bottom: 14px;
                
}

.ubicatext {top:-8px;}

.cuadrito_big_blue {       
width: 470px;
height: 50px;
margin-bottom: 14px;
                
}



.diass {  font-size: 2.5rem; }

.mess {   font-size: 1rem;}











.cuadro_bi_a {


height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}



.cuadro_bi_b {
background-image: url("../img_plan/back_cuadros_bajo.webp"); /* The image used */  

height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}









.p_horarios {
align-items: left; 
justify-content: left;
}

.text_horario {
text-align: left;
}



.verdesito {


width: 350px;
height: 36px;

padding-top: 1px;
border-radius: 5px;



}

.ul_margen {
margin-left:0px;
}

.ajuste_listado {margin-left: 50px;  max-width: 40%;} 
.fix_interno_dere {margin-left: 140px; margin-top: -30px;}
.dos_sem {font-size: 3.8rem;}
.text_sem {font-size: 46px;}
.diver_text {font-size: 30px;}
.robotin_ubicatex {left: 220px; bottom: 30px;}
.big_logo_pexx {width: 283.2px; height: 288.4px;}
.duo_textos{justify-content:left; align-items: left; margin-left: 24px; margin-top: -40px;}
.div_moto {margin-top: -20px; margin-left: 30px;}
.second_text {font-size: 46px; margin-left: 20px;  }
.el_verdeee { padding-left: 50px;}
.text_lun {font-size: 44px;}
.t_help_a {font-size: 30px; }
.text_hora  {font-size: 24px; }
.select_tu {font-size: 24px;}


/* seccion  amarilla con blanco */


.first_t {font-size: 54px;  }
.separann {margin-bottom: -10px;}

.ubi_duo {margin-top: -26px;}




.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }

.posi_bott_ama {top:200px; right:0px;}



#parejox {content: url('../img_plan/pareja.webp'); }  



/* zon bloque verde */

.men_supp {align-items: right;
justify-content: right;}

.men_bajj {align-items: left;
justify-content: left; }







/* galeria  */



.text_diver {font-size: 60px;} 






.cuarta{margin-top:-60px;}
.sexta{margin-top:-45px;}

.septima {margin-top:-100px; margin-left:0px; width:420px; height: 420px;}
/* #septima {} */

.octava {margin-top:-45px; width:420px; height: 420px;}

.novena {margin-top:-120px; margin-left:0px; width:440px; height: 440px;  }
/* #novena {} */



/* #novena {} */




/*  seccion contacto */

/* .bloque_dual {} */

.cuadro_dual {
  background-color: #05A451;


width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}

.address {align-items: left; margin-top: -14px; justify-content: left;}


.button_amarr {       
width: 250px;
height: 58px;
font-size: 62px;      
margin-top: 15px;
border-radius: 10px;                    
}


.direc_move {margin-top: 50px; }


.direc_move_espe {margin-left: 20px;}


.direc_move_b {margin-top: 50px;}

.qr_toppp {margin-top: -40px;}

.qr_img_s {width: 400; height: 400;}







}



/* Large devices (desktops, 1442px and up)  */
@media (min-width: 1442px) { 

  



  .homerr {  background-image: url("../img_plan/Plan_Vacacional_PC.webp"); }
  

  .bajemosle {margin-top: 10px;}

  .button_blue {       
      width: 260px;
      height: 56px;
     font-size: 30px;      
     padding-top: 7px;
     border-radius: 14px;                    
   }
 
.button-p {

  width: 428px;
  height: 58px;
  font-size: 32px;  
 border-bottom: 4px solid #7e0458;  
 border-radius: 14px;  
}

.button-p:hover {
 font-size: 36px; 
}



.first_inscrib_a{

align-items: right;
justify-content: right;

}



.first_inscrib_b{

align-items: left;
justify-content: left;

}



.first_inscrib_c{

align-items: left;
justify-content: left;

}







.listado {font-size: 32px;}
.listado_b {font-size: 28px;}




.cuadrito_blue {       
width: 230px;
height: 50px;
margin-bottom: 14px;
                
}

.ubicatext {top:-8px;}

.cuadrito_big_blue {       
width: 470px;
height: 50px;
margin-bottom: 14px;
                
}



.diass {  font-size: 2.5rem; }

.mess {   font-size: 1rem;}











.cuadro_bi_a {
background-color: #BF0685;

height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}



.cuadro_bi_b {
background-image: url("../img_plan/back_cuadros_bajo.webp"); /* The image used */  


height: 100%; /* You must set a specified height */
width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}









.p_horarios {
align-items: left; 
justify-content: left;
}

.text_horario {
text-align: left;
}



.verdesito {


width: 370px;
height: 36px;

padding-top: 1px;
border-radius: 5px;


}

.ul_margen {
margin-left:0px;
}

.ajuste_listado {margin-left: 0px;}
.fix_interno_dere {margin-left: 130px;}
.dos_sem {font-size: 4.5rem;}
.el_verdeee { padding-left: 120px;}

/* seccion  amarilla con blanco */


.first_t {font-size: 62px;  }
.separann {margin-bottom: -12px;}

.ubi_duo {margin-top: -20px; margin-left: -30px;}

.second_text {font-size: 52px;  }


.robotin_ubicatex {left: 270px; bottom: 30px;}


.div_moto {margin-top: 18px; margin-left: 60px;}
.ubi_moto {margin-left: 20px; }


.button-amari {   border-radius: 14px;  font-size: 28px;  padding-top: 1px;   width: 220px;   height: 44px; }

.posi_bott_ama {top:200px; right:30px;}

.duo_textos{justify-content:left; align-items: left;}


#parejox {content: url('../img_plan/pareja.webp'); }  



/* zon bloque verde */

.men_supp {align-items: right;
justify-content: right;}

.men_bajj {align-items: left;
justify-content: left; }







/* galeria  */



.text_diver {font-size: 60px;} 




.cuarta{margin-top:-60px;}
.sexta{margin-top:-45px;}

.septima {margin-top:-100px; margin-left:0px; width:420px; height: 420px;}
/* #septima {} */

.octava {margin-top:-45px; width:420px; height: 420px;}

.novena {margin-top:-120px; margin-left:0px; width:440px; height: 440px;  }
/* #novena {} */


/*  seccion contacto */

/* .bloque_dual {} */

.cuadro_dual {
background-color: #05A451;


width: 100%;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
}

.address {align-items: left; margin-top: -14px; justify-content: left;}


.button_amarr {       
width: 250px;
height: 58px;
font-size: 62px;      
margin-top: 15px;
border-radius: 10px;                    
}


.direc_move {margin-top: 50px;}
.direc_move_b {margin-top: 50px;}

.qr_toppp {margin-top: -40px;}

.qr_img_s {width: 400; height: 400;}


}











@media (min-height: 1px) and (max-height: 663px)  { 



  .titulo_header{
    img{
      width: 50px;
    }
  }
  .texto_header{
    margin-top: 130px;
  }


  .bajemosle{
    margin-top: 20px; 
  }
  .big_logo{
    width: 110px;
    height: auto;
  }
  .button-p{

  }

}






















